.welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

.extinction-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.extinction-div label {
    margin-bottom: 5px;
}
.extinction-div select {
    margin-bottom: 5px;
    font-size: 16px;
}

.continents-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    margin-bottom: 40px;
}
.continents-div label {
    margin-bottom: 5px;
}
.continents-div select {
    padding: 10px;
    min-width: 70px;
    font-size: 16px;
    border-radius: 5px;
}
.continents-div select option:checked {
    color: black;
    background-color: lightblue;
}

.colors-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    margin-bottom: 40px;
}
.colors-div label {
    margin-bottom: 5px;
}
.colors-div select {
    padding: 10px;
    min-width: 70px;
    font-size: 16px;
    border-radius: 5px;
}
.colors-div select option:checked {
    color: black;
    background-color: lightblue;
}

form {
    width: 100%;
    margin-top: 50px;
}


.form-container {
    max-width: 400px;
    font-size: 20px;
    margin: auto auto 100px;
}

input {
    width: 100%;
    padding: 10px 10px;
    margin: 2px 0px 40px 0px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #1fa574;
    border: none;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}

textarea, input[type=text], input[type=date], input[type=email], input[type=number], input[type=tel], input[type=url], select {
    background-color: transparent;
}

input[type=color] {
    padding: 0;
}

.status-select {
    font-size: 14px;
    padding: 8px;
    border-radius: 12px;
    border: black 1px solid;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.diet-div label {
    margin-bottom: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-group ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin-top: 5px;
}


.radio-group ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.radio-group ul li input[type=radio]{
    margin-bottom: 0;
    margin-right: 12px;
}

.reset-button {
    margin-top: 20px;
    margin-bottom: 2px;
}

.wingspan-div input {
    margin-bottom: 5px;
}
.wingspan-div {
    margin-bottom: 40px;
}