@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, #c94b4b, #4b134f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.body-container {
    position: relative;
    background-color: #f88d50;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    max-width: 100%;
    min-height: 480px;
    width: 800px;
}

.body-container p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.body-container a {
    color:#4b134f;
    text-decoration: none;
}

.body-container button {
    background-color: crimson;
    color:rgb(232, 211, 180);
    font-size: 20px;
    font-weight: 500;
    padding: 5px 40px;
    margin: 15px 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px transparent solid;
    text-transform: uppercase;
}

.body-container button.hidden {
    background-color: transparent;
    border-color: burlywood;
}


.body-container form {
    background-color: #f88d50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    height: 100%;
}

.body-container input {
    background-color: blanchedalmond;
    border: none;
    margin: 5px 0;
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

.body-container .errorMsg {
    padding: 10px;
    color: red;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.body-container.active .log-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.body-container.active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}


@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 50px 0 0 50px;
    z-index: 100;
}

.body-container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 50px 50px 0;
}

.toggle {
    background-color: rgb(201, 43, 43);
    height: 100%;
    background: linear-gradient(to right, rgb(201, 43, 43), rgb(113, 11, 11));
    color: rgb(249, 235, 232);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transition: all 0.6s ease-in-out;
}

.body-container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-100%);
}

.body-container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
}

.body-container.active .toggle-right {
    transform: translateX(100%);
}
