<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds page</title>
    <link rel="stylesheet" href="css/general_styling.css">
    <link rel="stylesheet" href="css/create_bird.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1 class="welcome-message">Create a bird</h1>
<div class="form-container">
    <form method="post" th:object="${bird}">
        <label>Name:</label>
        <input type="text" th:field="*{name}" required="required"/>

        <label>Latin name:</label>
        <input type="text" th:field="*{latinName}" required="required"/>

        <div class="wingspan-div">
            <label>Wingspan in cm:</label>
            <input type="number" th:field="*{wingspanCm}" required="required"/>
            <div th:if="${#fields.hasErrors('wingspanCm')}" th:errors="*{wingspanCm}"></div>
        </div>


        <div class="extinction-div">
            <label>Conservation status:</label>
            <select class="status-select" th:field="*{conservationStatus}" required="required">
                <option th:each="status : ${T(com.example.springApp.model.ConservationStatus).values()}"
                        th:value="${status.ordinal()}" th:text="${status.getName()}"></option>
            </select>
        </div>

        <div class="continents-div">
            <label>Habitat:</label>
            <select th:field="*{continents}" required="required" multiple>
                <option th:each="continent : ${T(com.example.springApp.model.Continent).values()}"
                        th:value="${continent}" th:text="${continent.getName()}"></option>
            </select>
        </div>

        <div class="colors-div">
            <label>Colors:</label>
            <select th:field="*{colors}" multiple="multiple" required="required">
                <option th:value="Black">Black</option>
                <option th:value="White">White</option>
                <option th:value="Red">Red</option>
                <option th:value="Green">Green</option>
                <option th:value="Blue">Blue</option>
                <option th:value="Yellow">Yellow</option>
                <option th:value="Grey">Grey</option>
                <option th:value="Brown">Brown</option>
            </select>
        </div>


        <div class="diet-div">
            <label>Diet:</label>
            <div class="radio-group">
<!--                <input type="radio" th:each="diet : ${T(com.example.springApp.model.Diet).values()}"-->
<!--                        th:value="${diet.ordinal()}" th: th:text="${diet.getName()}" th:field="*{diet}" name="diet">-->
                <ul>
                    <li th:each="diet : ${T(com.example.springApp.model.Diet).values()}">
                        <input type="radio" th:field="*{diet}" th:value="${diet.ordinal()}" />
                        <label th:text="${diet.getName()}"></label>
                    </li>
                </ul>
            </div>
        </div>

        <label>Photo URL:</label>
        <input type="text" th:field="*{imageSrc}"/>
        <div th:if="${#fields.hasErrors('imageSrc')}" th:errors="*{imageSrc}"></div>


        <label>Article URL:</label>
        <input type="text" th:field="*{article}"/>
        <div th:if="${#fields.hasErrors('article')}" th:errors="*{article}"></div>


        <label>Trivia:</label>
        <textarea th:field="*{trivia}" rows="8" cols="50">
            Enter your trivia.
        </textarea>
        <div th:if="${#fields.hasErrors('trivia')}" th:errors="*{trivia}"></div>


        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>