<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds page</title>
    <link rel="stylesheet" href="css/general_styling.css">
    <link rel="stylesheet" href="css/index_styling.css">
    <script src="/js/index.js"></script>
</head>
<style>
    .plank-back {
        color: sandybrown;
        padding: 10px;
        width: 400px;
        background-image: url(https://static.vecteezy.com/system/resources/previews/001/948/362/large_2x/brown-wood-plank-wall-for-background-free-photo.jpg);
        margin-bottom: 5px;
    }
</style>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<!--Container for bird descirption and photo-->
<div>
    <h2 th:text="${bird.name}"></h2>
    <a target="_blank"  class="article_href" th:href="${bird.article}">
        <img th:alt="${bird.name}" class="bird-image" width="450" height="300"
             th:src="${bird.imageSrc}">
    </a>
    <div class="bird-description">
        <div class="plank-back">
            <p><strong>Latin name: </strong><i th:text="${bird.latinName}"></i></p>
        </div>
        <div class="plank-back">
            <p><strong>Wingspan: </strong><span th:text="${bird.wingspanCm}"></span></p>
        </div>
        <div class="plank-back">
            <p><strong>Diet: </strong><span th:text="${bird.diet}"></span></p>
        </div>
        <div class="plank-back">
            <p><strong>Continents: </strong><span th:text="${#strings.listJoin(bird.continents, ', ')}"></span></p>
        </div>
        <div class="plank-back">
            <p><strong>Conservation status: </strong><span th:text="${bird.conservationStatus}"></span></p>
        </div>
        <div class="plank-back">
            <p><strong>Colors: </strong><span th:text="${#strings.listJoin(bird.colors, ', ')}"></span></p>
        </div>
        <div class="plank-back">
            <p th:text="${bird.trivia}"></p>
        </div>
    </div>
</div>
</body>
</html>